<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <!-- top-contact-info -->
                <div class="top-contact-info">
                    <ul class="top-header-ul-left">
                        <li><a href="#"><i class="zmdi zmdi-phone"></i> +971 52 123 4567</a></li> 
                        <li><a href="#"><i class="zmdi zmdi-email"></i> Info@siyamelectronics.com</a></li>
                    </ul>
                </div><!--// top-contact-info -->                       
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="top-info-right">                           
                    <!-- top-social -->
                    <div class="top-social">
                        <ul class="top-header-ul-right">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div><!--// top-social -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-md-3">
      <a href="#">
          <img src="../../assets/img/logo.png" alt="" class="img-fluid" style="width:170px">
      </a>
    </div>
    <div class="col-md-9">
        <ul class="nav custom-nav-style justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#offers">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#brands">Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link pr-0" href="#contact">Contact</a>
            </li>
          </ul>
    </div>
  </div>
</div>


