.custom-nav-style li a{
    color: #C12228;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;
    font-size: 14px;
}
.custom-nav-style li:hover a{
    color: #494E61;
    font-weight: bold;
    transition: 0.3s ease;
}
.header-top-area {
    background: #040707;
    padding: 0;
}
.top-contact-info{
    padding-top: 15px;
}
.top-info-right{
    padding-top: 15px;
}
.top-contact-info ul li {
    display: inline-block;
    color: #ffffff;
    margin-right: 30px;
}
.top-contact-info ul li a {
    font-size: 14px;
    color: white;
}
.top-contact-info ul li a i {
    margin-right: 5px;
    color: white;
}
.top-header-ul-right li a i{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    text-align: center !important;
    padding-top: 8px !important;
}
.top-header-ul-left,
.top-header-ul-right{
    padding-left: 0;
}
.top-info-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.top-social ul li {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    margin-left: 20px;
}
.top-social ul li a{
    color: #ffffff;
}
