<!-- ********************* FOOTER SECTION START ********************* -->
<!-- <section class="footer-{{cssLayout}}">
  <section id="footer-top" style="background: #494E61;padding: 50px 0 10px 0;">
    <div class="container">
      <div class="row row-main-wrap">
        <div class="col-md-3">
          <div class="widget widget_services">
            <h4 class="m-b15 text-uppercase heading-style" style="color: #ef5a07;font-size: 20px;line-height: 28px">
              About us </h4>
            <div class="dlab-separator-outer m-b10">
              <div class="dlab-separator bg-white style-skew"></div>
            </div>
            <p>Description.......... Elecronics shop with 12+yrs</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget widget_services">
            <h4 class="m-b15 text-uppercase heading-style" style="color: #ef5a07;font-size: 20px;line-height: 28px">
              OUR SERVICES </h4>
            <div class="dlab-separator-outer m-b10">
              <div class="dlab-separator bg-white style-skew"></div>
            </div>
            <ul class="info-col" style="padding: 0;list-style: none;">
              <li><a href="#">Home Delivery </a></li>
              <li><a href="#">EMI </a></li>
              <li><a href="#">Gift Coupon </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget widget_services">
            <h4 class="m-b15 text-uppercase heading-style" style="color: #ef5a07;font-size: 20px;line-height: 28px">
              TOP BRANDS </h4>
            <div class="dlab-separator-outer m-b10">
              <div class="dlab-separator bg-white style-skew"></div>
            </div>
            <ul class="legal-col" style="padding: 0;list-style: none;">
              <li><a href="#">Impex </a></li>
              <li><a href="#">Philips </a></li>
              <li><a href="#">Geepas </a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3">
          
            <h4 class="footer-heading-style">Contact us</h4>

            <ul class="contact-icons">
              <li>
                <a href="#">
                  <i class="fas fa-phone-square"></i> Phone: +971 506828610
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-envelope-square"></i> Email: info@siyamelectronics.com
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-phone-square"></i> Phone: +971 506828610
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-phone-square"></i> Phone: +971 506828610
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/siyamelectronics" target="_blank">
                  <i class="fab fa-facebook"></i> https://www.facebook.com/siyamelectronics
                </a>
              </li>
              <li>
                <a href="http://www.twitter.com" target="_blank">
                  <i class="fab fa-twitter"></i> http://siyamelectronics.com
                </a>
              </li>
            </ul>

          </div>
        


      </div>
    </div>
    <hr style="border-top:1px solid #5e6371;">
    <p style="text-align: center;font-size: 14px;color:rgba(255, 255, 255, 0.54)">Copy right 2018 Siyamelectronics.com .
    </p>
  </section>
</section> -->






<section id="footer-top">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="../../assets/img/logo-updated white.png" class="img-fluid" alt="" style="padding-bottom: 10px"></div>
                        <p class="footer-about-content"><strong>Siyam Electronics</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea eaque dolorem maxime dignissimos, dolor similique earum doloremque ad assumenda inventore quia mollitia, quis perspiciatis minima explicabo nobis ab libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sit excepturi tempore, esse quod doloribus accusantium quisquam ipsa ducimus. Quae?</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase heading-style">Our services</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <ul class="services-footer">
                            <li><a href="#">Home Delivery</a></li>
                            <li><a href="#">EMI</a></li>
                            <li><a href="#">Gift Coupon</a></li>
                            <li><a href="#">Home Delivery</a></li>
                            <li><a href="#">EMI</a></li>
                            <li><a href="#">Gift Coupon</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase heading-style">Site Map</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <ul class="sitemap">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="">Brands</a></li>
                            <li><a href="">Services</a></li>
                            <li style="border-bottom: 0"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h4 class="m-b15 text-uppercase heading-style">Contact us</h4>
                        <div class="dlab-separator-outer m-b10">
                            <div class="dlab-separator bg-white style-skew"></div>
                        </div>
                        <ul class="contact-info">
                            <li><i class="fa fa-phone"></i><strong>Tel:</strong> +971.52.123.4567</li>
                            <li><i class="fa fa-envelope-open"></i><strong>P.O.Box:</strong> Dubai 12345</li>
                            <li><i class="fa fa-envelope"></i><strong>Email:</strong>info@siyamelectronics.com</li>
                            <li><i class="fa fa-globe"></i><strong>Website:</strong>www.siyamelectronics.com</li>
                            <li><i class="fa fa-map-marker"></i><strong>Address:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste reiciendis vero saepe eaque fugit provident.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="footer-copyright">
    <div class="container" style="border:none">
        <div class="row align-items-center">
            <div class="col-md-12 new-on-mob">
                <p class="privacy" style="color:white;padding-top: 13px;text-align: center;font-weight: normal;border-top: 1px solid #4d4d4d;font-size: 14px">Copyright © 2019 - All Rights Reserved | Siyamelectonics.</p>
            </div>
        </div>
    </div>
</section>