#footer-top {
    background: #040707;
    background-size: cover;
    background-position: center;
    padding: 50px 0 20px 0;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}
.logo-footer img{
    width: 200px;
}
.footer-about-content {
    font-weight: normal;
    font-size: 14px;
    color: white;
}
.heading-style {
    font-size: 20px !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.services-footer {
    font-weight: normal;
    padding-left: 0;
    list-style: none;
}
.services-footer li {
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 0;
}
.services-footer li a {
    color: white;
    font-size: 14px;
}
.sitemap {
    font-weight: normal;
    padding-left: 0;
    list-style: none;
}
.sitemap li {
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 0;
}
.sitemap li a {
    color: white;
    font-size: 14px;
}
.contact-info {
    font-weight: normal;
    padding-left: 0;
    list-style: none;
}
.widget_getintuch li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    line-height: 22px;
}
.widget_getintuch i {
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid white;
    /* background-color: #437264; */
}
.widget_getintuch strong {
    display: block;
    text-transform: uppercase;
}
#footer-copyright {
    background: #040707;
}
