<div class="breadcrumb-area" data-bgimage="assets/images/slider/c-4.jpg" data-black-overlay="4" style="background-image: url(&quot;assets/images/slider/c-4.jpg&quot;);">
  <div class="container">
      <div class="in-breadcrumb">
          <div class="row">
              <div class="col">
                  <h3><span class="gold">About</span> <span class="dark-color">Us</span></h3>
                  <!-- breadcrumb-list start -->
                  <ul class="breadcrumb-list">
                      <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                      <li class="breadcrumb-item active">About Us</li>
                  </ul>
                  <!-- breadcrumb-list end -->
              </div>
          </div>
      </div>
  </div>
</div>



<main class="page-content">
       
    <!-- About Us Area -->
    <div class="about-us-area section-ptb">
        <div class="container">
            <div class="row align-items-top">
                <div class="col-lg-8">
                    <div class="about-us-contents">
                        <h3>
                            <span class="welcome-text">Welcome To</span>
                            <span class="welcome-aja">Siyam Electronics</span>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem sapiente sit. Illum quisquam expedita est labore tempore adipisci possimus natus ex porro et voluptates odit eos nisi officiis ipsum quae iure, asperiores minus corrupti deleniti reiciendis quam nesciunt commodi! Omnis est facilis eligendi molestiae, tempore corporis beatae deleniti numquam.</p>
                        
                        <h4>Mission</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tenetur est ut cupiditate deserunt modi adipisci nostrum animi. Ad accusantium inventore deserunt dolorum aliquam? Error veritatis consectetur, velit distinctio ipsam impedit fugit aperiam minima iure repellat, voluptate corporis consequuntur dolor facilis nostrum similique enim eius quod ullam nihil consequatur esse.</p>

                        <h4>Vision</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, voluptatibus quam? Illo nobis fuga corrupti debitis deleniti dicta eum possimus pariatur expedita, officia facere dolor ipsum quo cumque adipisci. Maiores rem dolor nesciunt, voluptatem molestias sint amet incidunt eveniet vitae sed beatae ipsa odit, natus molestiae nemo voluptatibus, expedita corporis!</p>
                    
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-us-image text-right">
                        <a href="#"><img src="../assets/img/about.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// About Us Area -->
</main>

