.breadcrumb-area{
    background-image: url(../assets/img/c-4.jpg);
    padding: 78px 0;
}
.in-breadcrumb {
    text-align: center;
    text-transform: uppercase;
}
.breadcrumb-area h3 {
    font-size: 50px;
    font-weight: 700;
    margin-top: -5px;
    font-weight: 600;
    color: #ffffff;
}
.breadcrumb-list .breadcrumb-item {
    font-size: 16px;
    color: #494E61;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    font-weight: 600;
}
.breadcrumb-list .breadcrumb-item.active {
    color: #ffffff;
}
.gold {
    color: #B29C84;
}
.dark-color {
    color: #494E61;
}