<section class="why-choose-us" id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading-hot-deals">Services</h1>
          <p class="deal-tagline">Siyamelectronics is known for best class customer support &amp; already trusted by many.</p>
        </div>
        <div class="col-md-4">
          <div class="wrapper-our-features">
            <img src="../../assets/img/services/emi.png" class="img-fluid" alt="">
            <h5>EMI</h5>
            <p class="our-features-desc">We provide EMI services for certain brands and products.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper-our-features">
            <img src="../../assets/img/our-feature-2.png" class="img-fluid" alt="">
            <h5>Best price guarenteed!</h5>
            <p class="our-features-desc">Siyamelectronics guarentees best price for our products</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper-our-features">
            <img src="../../assets/img/our-feature-3.png" class="img-fluid" alt="">
            <h5>Personalised experience</h5>
            <p class="our-features-desc">Over 400 million travellers trusted us to ﬁnd the best deal on their hotels last year.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
