.why-choose-us{
    padding:50px 0;
    background: white;
}
.wrapper-our-features{
    text-align: center;
    box-shadow: 0px 0px 10px #ececec;
    padding: 15px;
    min-height: 230px;
    transition: .4s;
}
.wrapper-our-features:hover{
    transform: scale(1.10);
    transition: .3s;
    box-shadow: 0px 0px 16px lightgray;
}
.our-features-desc{
    text-align: center;
    color: #777777;
    margin: 10px 0;
    font-size: 12px;
}
.wrapper-our-features img{
    display: block;
    margin: 10px auto;
    width: 100px;
}
.heading-hot-deals {
    color: #33333a;
    font-size: 32px;
    text-align: center;
}
.deal-tagline {
    text-align: center;
    color: #777777;
    margin-bottom: 30px;
}