<section id="brands" class="mt-5">

<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1 class="heading-hot-deals text-center">Our brands</h1>
    <p class="deal-tagline text-center" style="max-width: 80%;margin-left: 10%;padding: 20px 0">
      We are working with some of the most famous brands providing the outdoor tenting services and products. Below are some of our brands with whom we are working since too many years	
    </p>
  </div>
</div>



  <div class="row">
    <div class="col-md-3"><img src="../../assets/img/brands/1.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/2.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/3.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/4.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/5.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/6.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/7.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/8.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/9.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/10.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/1.png" alt="" class="img-fluid img-genrl"></div>
    <div class="col-md-3"><img src="../../assets/img/brands/2.png" alt="" class="img-fluid img-genrl"></div>
  </div>
   
</div>

</section>
