.img-genrl {
    margin: 15px 0;
    border: 1px solid lightgray;
    padding: 20px 60px;
    transition: 0.3s ease;
}
.img-genrl:hover{
    box-shadow: 0px 0px 15px lightgrey;
    transition: 0.3s ease;
    transform: scale(1.1);
}