/* You can add global styles to this file, and also import other style files */


body, html {
    font-family: 'Montserrat', sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343333;
    font-family: 'Montserrat', sans-serif !important;
}

html,
body,
textarea,
button,
input {
    font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif !important;
}

