
// ngb-carousel.carousel-details::ng-deep {
//     .carousel-inner{
//                 height: 640px !important;
//             }
        
//     .carousel-indicators{
//               bottom: 100px;
//             }
//     .carousel-item:hover{
//         cursor: pointer;
//     }
//     .carousel-item {
//         /* Force to always be block */
//         display: block !important;
//         position: absolute;
//         transform: translateX(100%);
//         opacity: 1;
//         transition: 1s;
//         visibility: hidden;
//     }
//     .carousel-item.active {
//         position: relative;
//         transform: translateX(0);
//         visibility: visible ;
//         opacity: 1;
//     }
//     .carousel-item .carousel-caption h3{
//         color: white !important;
//         font-size: 50px;
//     }
//     .carousel-item .carousel-caption p{
//         color: white !important;
//         font-size: 24px;
//     }
//     .carousel-images{
//         width: 100% !important;
//     }
//     .carousel-caption{
//         bottom: 0;
//         top: 40%;
//     }
//     .carousel-control-prev .carousel-control-prev-icon{
//         background-image: url(../../assets/img/icon-arrow-back.png) !important;
//     }
//     .carousel-control-prev:hover{
//         cursor: pointer;
//     }
//     .carousel-control-next .carousel-control-next-icon{
//         background-image: url(../../assets/img/icon-arrow-next.png) !important;
//     }
//     .carousel-control-next:hover{
//         cursor: pointer;
//     }
//     .carousel-indicators{
//         bottom: 150px !important;
//     }
//     .carousel-indicators li {
//         position: relative;
//         width: 10px !important;
//         height: 10px !important;
//         border-radius: 100% !important;
//         margin-right: 5px;
//         margin-left: 5px;
//         text-indent: -999px;
//         cursor: pointer;
//         background-color: white;
//     }
//     .carousel-indicators .active {
//         background-color: #C12228;
//         border-radius: 100%;
//         width: 12px !important;
//         height: 12px !important;
//         margin-top: -1px;
//     }
// }
