<app-header></app-header>

<mdb-carousel class="carousel slide carousel-fade"  [animation]="'slide'">
  <mdb-carousel-item *ngFor="let image of images">
      <img class="d-block w-100" src="{{image}}" alt="First slide">
    <!-- <img class="d-block w-100" src="{{image}}" style="height: 640px;">>
    <div class="carousel-caption">
      <h3>10 seconds between slides</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, debitis aliquam ex maiores ad fugiat!</p>
    </div> -->
    <!-- </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide" class="img-fluid carousel-images">
      <div class="carousel-caption">
        <h3>No mouse events</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam dolorum sequi qui pariatur quasi.
        </p>
      </div> -->
  </mdb-carousel-item>
</mdb-carousel>
