<section class="hot-deals" id="offers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading-hot-deals">Discover great Offers</h1>
        <p class="deal-tagline">Get discount vouchers, secret offers and much more!</p>
      </div>
      <!-- <div class="col-md-4">
          <div class="card custom-card-style">
            <div class="image-offer">
              <img class="card-img-top img-fluid" src="../../assets/img/deal-1.png" alt="Card image cap">
              <div class="flag-design">
                <span class="weekend-offer">Weekend offer</span>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text deal-short-desc">Book your stay with us for this weekend and enjoy a free <span style="font-weight: 800">BIG MAC</span> meal for 2! </p>
              <div class="use-coupen">
                <span class="use-coupen">Use coupen</span>
                <span class="coupen-code">MD1234</span>
              </div>
              <div class="offer-validity">
                <span class="offer-validity-text">Offer validity till</span> <span class="offer-validity-date">29 Dec 2018</span>
                <a class="view-deal" href="#">View deal</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card custom-card-style">
            <div class="image-offer">
              <img class="card-img-top img-fluid" src="../../assets/img/deal-of-the-day.png" alt="Card image cap">
              <div class="flag-design">
                <span class="weekend-offer">Deal of the day</span>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text deal-short-desc">Book your stay with us for this weekend and enjoy a free <span style="font-weight: 800">BIG MAC</span> meal for 2! </p>
              <div class="use-coupen">
                <span class="use-coupen">Use coupen</span>
                <span class="coupen-code">MD1234</span>
              </div>
              <div class="offer-validity">
                <span class="offer-validity-text">Offer validity till</span> <span class="offer-validity-date">29 Dec 2018</span>
                <a class="view-deal" href="#">View deal</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card custom-card-style">
            <div class="image-offer">
              <img class="card-img-top img-fluid" src="../../assets/img/last-minute-offer.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-text deal-short-desc">Book your stay with us for this weekend and enjoy a free <span style="font-weight: 800">BIG MAC</span> meal for 2! </p>
              <div class="use-coupen">
                <span class="use-coupen">Use coupen</span>
                <span class="coupen-code">MD1234</span>
              </div>
              <div class="offer-validity">
                <span class="offer-validity-text">Offer validity till</span> <span class="offer-validity-date">29 Dec 2018</span>
                <a class="view-deal" href="#">View deal</a>
              </div>
            </div>
          </div>
        </div> -->
      <!-- Offers For loop        -->
      <div class="col-md-4" *ngFor="let offer of offers">
        <div class="card custom-card-style">
          <div class="image-offer">
            <img class="card-img-top img-fluid" src="{{offer.imgUrl}}" alt="Card image cap">
            <div class="flag-design">
              <span class="weekend-offer">{{offer?.name}}</span>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text deal-short-desc">{{offer?.description}} <span style="font-weight: 800">BIG MAC</span>
              meal for 2! </p>
            <div class="use-coupen">
              <span class="use-coupen">Use coupen </span>
              <span class="coupen-code">MD1234</span>
            </div>
            <div class="offer-validity">

              <span class="offer-validity-text">Offer validity till</span> <span class="offer-validity-date">
                {{ offer?.toDate | date:'medium' }}</span><br>
              <a class="view-deal" (click)="open(content,offer)">View deal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--MODAL CODE-->
<ng-template #content let-d="dismiss">
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Offer:</h4> -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="image-offer">
      <img class="card-img-top img-fluid" src="{{selectedOffer.imgUrl}}" alt="Card image cap" style="width: 100%;">
      <div class="flag-design">
        <span class="weekend-offer">{{selectedOffer?.name}}</span>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <p style="color:#C12228;font-weight:bold;font-size:22px;"> Offer Ends In:</p>
        <!-- <lib-countdown [title]="'Offer ends in:'" [date]="selectedOffer.toDate|date: 'yyyy-MM-dd'"
          cardBackgroundColor="white" cardTextColor="black"></lib-countdown> -->
        <lib-countdown [date]="selectedOffer.toDate|date: 'yyyy-MM-dd'" isCustomTemplate="isCustomTemplate"
          (daysChanged)="onDaysChangedOfferModal($event)" (hoursChanged)="onHoursChangedOfferModal($event)"
          (minutesChanged)="onMinutesChangedOfferModal($event)" (secondsChanged)="onSecondsChangedOfferModal($event)"
          [title] ="title">
          <div class="row">




            <div class="col-3"><strong class="text-bold">Days : </strong> {{days}}</div>
            <div class="col-3"><strong class="text-bold">Hours : </strong> {{hours}}</div>
            <div class="col-3"><strong class="text-bold">Minutes : </strong>
              {{minutes}}</div>
            <div class="col-3"><strong class="text-bold">Seconds : </strong>
              {{seconds}}</div>
            <!-- <div class="col s12">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <p class="number-style center-align"> <strong class="text-bold">Days : </strong> {{days}}
                  </p><br>
                  <p class="number-style center-align"> <strong class="text-bold">Hours : </strong> {{hours}}
                  </p><br>
                  <p class="number-style center-align"> <strong class="text-bold">Minutes : </strong>
                    {{minutes}} </p><br>
                  <p class="number-style center-align"> <strong class="text-bold">Seconds : </strong>
                    {{seconds}} </p><br>
                </div>

              </div>
            </div> -->
          </div>
        </lib-countdown>

      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>