.hot-deals {
    background: #f4f4f4;
    padding: 50px 0;
}
.heading-hot-deals {
    color: #33333a;
    font-size: 32px;
    text-align: center;
}
.deal-tagline {
    text-align: center;
    color: #777777;
    margin-bottom: 30px;
}
.custom-card-style{
    padding-top:0;
    transition: .5s;
}
.custom-card-style:hover{
    transform: scale(1.10);
    transition: .5s;
    box-shadow: 0px 0px 16px lightgray;
}
.deal-short-desc{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212121;
    margin-bottom: 0px;
}
.use-coupen{
    margin-bottom: 0px;
}
.flag-design{
    background: url(../../assets/img/flag.png);
    position: absolute;
    top: 30px;
    left: -7px;
    background-size: 100% 100%;
    height: 40px;
}
.hot-deals{
    background: #f4f4f4;
    padding: 50px 0;
}
.image-offer{
    position: relative;
    width: 100%;
}
.weekend-offer{
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    vertical-align: bottom;
}
.use-coupen{
    color: gray;
    font-size: 11px;
}
.coupen-code{
    color: #C12228;
    font-size:11px;
    font-weight: bold;
}
.offer-validity-text{
    color: gray;
    font-weight: normal;
    font-size: 11px;
}
.offer-validity-date{
    color: gray;
    font-weight: bold;
    font-size: 11px;
}
.view-deal{
    font-size: 11px;
    border:1px solid #2d364c;
    color:#2d364c;
    border-radius:4px;
    padding:3px 10px;
    border-radius: 0;
}
.view-deal:hover{
    cursor: pointer;
}
.modal-dialog {
    max-width: 700px;
}